/* здесь используйте глобальные переменные */
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

$base-color-text: #333333;
$base-decoration-color: #f0ebff;
$base-prime-decoration-color: #7859cf;
$state-bakground-lighter: #9070ec;
$state-background-darker: #593cac;
$background-biscuit-color: #f3ebe1;
$base-white-color: #ffffff;
$disabled-background-color: #bdbdbd;
$base-background-gray: #f8f8f8;
$base-background-light-gray: #e2e2e2;
$background-lavender-light: #eae6fc;
$background-light-gray: #e5e6e8;

$tablet-width: 768px;
$desktop-width: 1440px;
