.button-state {
  &:hover,
  &:focus-visible {
    background-color: $state-bakground-lighter;
  }

  &:active {
    background-color: $state-background-darker;
  }

  &:disabled {
    background-color: $disabled-background-color;
  }
}
