.card__select-container {
  display: flex;
  align-items: start;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 283px;
    margin-left: auto;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.card__sort-title {
  width: 107px;
  margin-right: 9px;
  padding: 4px 0;
  padding-left: 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    margin-right: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.card__sort-select {
  position: relative;
  width: 165px;
  padding: 4px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $base-prime-decoration-color;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 2px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url("../../icons/arrow-bottom.svg");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    z-index: 1;
  }
}

.card__container {
  margin-bottom: 40px;
}

.card__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    flex-flow: row wrap;
    gap: 30px 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    flex-flow: row wrap;
    gap: 30px;
  }
}

.card__link {
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $base-color-text;
  background-color: $base-white-color;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-top: 50px;
    width: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }

  &:hover,
  &:focus-visible {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card__img-container {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

.card__description {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card__button-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.card__price {
  padding: 2px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.card__button {
  width: 141px;
  padding: 8px 20px 8px 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: $base-prime-decoration-color;
  border-radius: 4px;
  color: $base-white-color;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  background-image: url("../../icons/basket-add.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 20px center;
}

.card__pagination-container {
  padding-bottom: 44px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 395px;
    margin-left: auto;
    padding-bottom: 90px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 119px;
  }
}

.card__pagination-button {
  width: 40px;
  padding: 12px;
  color: $base-prime-decoration-color;
  text-align: center;
  background-color: $base-white-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 91px;
    padding: 8px 20px;

    & svg {
      display: none;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: $state-bakground-lighter;
  }

  &:hover .card__pagination-button-text,
  &:focus-visible .card__pagination-button-text {
    color: $base-white-color;
  }

  &:active {
    background-color: $state-background-darker;
  }

  & svg {
    fill: $base-prime-decoration-color;
  }

  &:hover svg {
    fill: $base-white-color;
  }
}

.card__pagination-button-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.card__pagination-list {
  width: 160px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.card__pagination-item-button {
  width: 40px;
  height: 40px;
  padding: 8px;
  color: $base-prime-decoration-color;
  text-align: center;
  background-color: $base-white-color;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $state-bakground-lighter;
    color: $base-white-color;
  }

  &:active {
    background-color: $state-background-darker;
  }

  &:disabled {
    color: $base-white-color;
    background-color: $base-background-light-gray;
  }
}

.card__pagination-item-button--selected {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $base-color-text;
  cursor: default;

  &:hover,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0);
    color: $base-color-text;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0);
  }
}
