.header__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: start;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;
  }
}

.header__description-logo {
  display: none;
  margin: 0;
  padding: 24px 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    display: block;
    width: 126px;
    margin-right: 162px;
  }
}

.header__navigation {
  display: flex;
  align-items: start;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.header__navigation-list-container {
  display: none;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 162px;
  }
}

.header__navigation-list-container--open {
  display: block;
}

.header__navigation-list {
  position: absolute;
  width: 320px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  top: 58px;
  left: 0;
  border-top: 1px solid $base-decoration-color;
  list-style-type: none;
  background-color: $base-white-color;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 400;
    flex-flow: row wrap;
    border: none;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    gap: 20px;
  }
}

.header__navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $base-decoration-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__navigation-link {
  width: 100%;
  position: relative;
  padding: 20px 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: center;
  color: $base-color-text;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: $base-decoration-color;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 21px;

    &:hover,
    &:focus-visible {
      color: $base-prime-decoration-color;
    }
  }
}

.header__navigation-link--check {
  @media (min-width: $tablet-width) {
    padding: 32px 21px;
    color: $base-prime-decoration-color;

    &::after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $base-prime-decoration-color;
      content: "";
    }
  }
}

.header__icons-list {
  width: 120px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    width: 258px;
    margin: 0;
    gap: 20px;
  }
}

.header__icon-item {
  display: flex;
  align-items: start;
}

.header__icon-link {
  padding: 22px;
  padding-bottom: 15px;
  text-decoration: none;
  cursor: pointer;

  & svg {
    fill: $base-color-text;
  }

  &:active {
    background-color: $base-decoration-color;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
    padding-bottom: 26px;

    &:hover .header__icon-text,
    &:focus .header__icon-text {
      color: $base-prime-decoration-color;
    }

    &:hover svg,
    &:focus svg {
      fill: $base-prime-decoration-color;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 8px;
    box-sizing: border-box;
  }
}

.header__icon-text {
  display: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  color: $base-color-text;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__nav-button {
  display: none;
  padding: 22px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  &:active {
    background-color: $base-decoration-color;
  }
}

.header__nav-button--show {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
