.logo {
  margin-right: 88px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 67px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
    padding-top: 22px;
  }
}
